<div data-question="<%= question.to_json %>" class="text-center">
  <div class="flex justify-between">
    <h1>Question <span x-text="currentQuestionNumber"></span> of 10</h1>
    <h1>Score: <span x-text="score"></span></h1>
  </div>
  <br>
  <span style="font-size: 5rem;">
    <%= question.content.sub('*', 'x') %>
  </span>
  <br><br>
  <h4>Choose the correct answer</h4>

  <div id='answers-wrapper' class="my-4 w-2/3 mx-auto flex justify-evenly prevent-select">
    <% [question.correct_answer, *question.incorrect_answers].shuffle.each do |answer| %>
      <button data-answer="<%= answer %>" @click.once="submitAnswer($event, '<%= question.to_json %>')" value="<%= answer.to_i %>" class="border border-white rounded-sm px-6 py-4 hover:opacity-50 animate__animated hover:-translate-y-1 transform transition prevent-select"><%= answer %></button>
    <% end %>
  </div>
</div>

<style>
    .prevent-select {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
</style>