<!DOCTYPE html>
<html lang="en">
<head>
  <title>Artificial Education</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  <%= yield :head %>
</head>

<body>
<%= render partial: 'layouts/navbar' unless content_for :skip_navbar %>

<div class="min-h-screen">
  <%= yield %>
</div>
</body>
</html>
